#main #result{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: antiquewhite;
}

#user1 {
    border: 1px solid black;
    height: 180px;
    width: 350px
}

#user2 {
    border: 1px solid black;
    height: 180px;
    width: 410px;
    position: absolute;
    top: 18%;
    left: 30%;
}
